language: python
python:
  - "3.6"
before_install:
  - sudo apt-get install ant
  - pip3 install pylint
install:
  - pip3 install -r requirements.txt
script:
  - pylint *.py --exit-zero
  - pylint tokenizers/*/*.py --exit-zero
  - pylint clone-detector/*.py --exit-zero
  - python -m unittest tokenizers/file_level/tokenizer_tests.py
notifications:
  email:
    recipients:
      - poletansky@gmail.com
    on_success: never
    on_failure: always
